<<<<<<< HEAD
    $border: 1px solid black;
    $esmeralda: #205b29b3;
    $granate: #4b0002e1;
    $hiper: #c02025cf;
=======
    $border: 1px solid black;
    $esmeralda: #205b29b3;
    $granate: #4b0002cb;
    $hiper: #970005cf;
>>>>>>> 38c3dcfc822b5adc5c27022aeae1b0c0709fc263
