@import 'variables'; 
@import 'restaurante';

a{
    color: $hiper;
}


h1 {
    color:black;
    
}

label{
    color: black;
}

.a-color{
    color: black;
}

.log{
    background-color: $esmeralda;
}
#coco{
    background-image: url("../images/restaurante.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#food{
    height:100% ;   
    width: 20%;
    background-image: url("../images/food.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}